<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="./css/head_style.css" rel="stylesheet" type="text/css" />
    <link href="./css/scrollpic.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"src="./js/mapSelect.js"></script>


    <style>

        a{
            text-decoration:none;
        }

        #content{
            width: 88%;
            font-size: 18px;
            color: #333333;
            margin-left:64px;
        }

        .scrollpic-register{
            width: 100%;
            background-color: #bdd8d7;
            margin:0;
            padding: 30px 0;
            height: 888px;
            border-top:3px dashed #51938f;
        }

    </style>


</head>

<body >

<div class="head" >
    <img src="./images/xiaohui.png" class="chuanda-badge">
</div>
<nav class="nav-header">
    <ul class="nav-menu">
        <li><a href="index-begin.html" class="three-d">
            首页
            <span class="three-d-box"><span class="front">首页</span><span class="back">首页</span></span>
        </a></li>
        <li><a href="index-intro.html" class="three-d">
            大川介绍
            <span class="three-d-box"><span class="front">大川介绍</span><span class="back">大川介绍</span></span>
        </a></li>
        <li><a href="javascript:void(0);" class="three-d active">
            报到流程
            <span class="three-d-box"><span class="front">报到流程</span><span class="back">报到流程</span></span>
        </a>
        <li><a href="index-studentsummary.html" class="three-d">
            新生统计
            <span class="three-d-box"><span class="front">新生统计</span><span class="back">新生统计</span></span>
        </a></li>
        <li><a href="dachuan_map.html" class="three-d">
            大川地图
            <span class="three-d-box"><span class="front">大川地图</span><span class="back">大川地图</span></span>
        </a>
            <ul class="clearfix unstyled drop-menu">
                <li><a href="dachuan_map.html" class="three-d" onClick="mapSelect('map1');">
                    江安地图
                    <span class="three-d-box"><span class="front">江安地图</span><span class="back">Jiangan</span></span>
                </a></li>
                <li><a href="dachuan_map.html" class="three-d" onClick="mapSelect('map2');">
                    望江地图
                    <span class="three-d-box"><span class="front">望江地图</span><span class="back">Wangjiang</span></span>
                </a></li>
                <li><a href="dachuan_map.html" class="three-d" onClick="mapSelect('map3');">
                    华西地图
                    <span class="three-d-box"><span class="front">华西地图</span><span class="back">WestChina</span></span>
                </a></li>

            </ul>
        </li>
        <li><a href="#" class="three-d">
            衣食住行
            <span class="three-d-box"><span class="front">衣食住行</span><span class="back">衣食住行</span></span>
        </a>
            <ul class="clearfix unstyled drop-menu">
                <li><a href="#" class="three-d">
                    吃在川大
                    <span class="three-d-box"><span class="front">吃在川大</span><span class="back">吃在川大</span></span>
                </a></li>
                <li><a href="#" class="three-d">
                    住在川大
                    <span class="three-d-box"><span class="front">住在川大</span><span class="back">住在川大</span></span>
                </a></li>
                <li><a href="#" class="three-d">
                    玩在川大
                    <span class="three-d-box"><span class="front">玩在川大</span><span class="back">玩在川大</span></span>
                </a></li>

            </ul>
        </li>
    </ul>
</nav>
<div class="scrollpic-register">


    <div id="content">
        <p>
            一、四川大学生报名注册流程<br>

            　　在乘校车前往校园的路途中，迎新人员会为新生们发《迎新手册》，手册里面的内容为两大块：学校介绍和入学流程介绍，另外还会附上校园的平面图。同学们要仔细阅读迎新手册，以便到校后顺利地办理各项手续。新生的报到手续总体分为两部分：住宿手续和入学手续。<br><br>

            二、四川大学新生资格审核<br>

            　　到达学校，你从校车下来后，就会看到各院系的迎新人员举着标明院系的彩旗在车门口迎接新生。只要找到自己的院系的迎新人员，他们就会领你到你们院系的新生接待处。到了自己院系的新生接待处，就会有院系学工组的老师为你做新生资格审核，你必须出示自己的身份证、录取通知书和准考证，自带档案的同学需上交档案。而后你会被告知自己的宿舍房间号和领到一张报到证，上面会注明你的院系和你的学号，你凭着这张报到证去办理后续的手续。<br><br>

            三、四川大学新生入学住宿手续<br>

            　　迎新的老师会安排一位师兄或师姐陪你去办理各项手续，有什么不懂的可以马上请教。各位师兄师姐顶着烈日甚至有时是冒着大雨都面带微笑热情地为你服务，一定要记得对他们说声谢谢。学长会先带你去宿舍，办好住宿手续。住宿手续一般比较简单，通常只要到住宿管理中心或公寓一楼的宿管处，向工作人员出示你的报到证并填一些简单的个人资料，对方会告知你的宿舍号和床号并交给你一把宿舍钥匙。将行李放到分配好的宿舍，然后就可以轻轻松松地去办理入学手续。<br><br>

            四、四川大学新生入学手续<br>

            　　学校的相关部门会集中在一个地点统一为新生办理入学手续。一般的入学手续包括以下几部分：<br>

            　　1。缴交学杂费财务处(已通过银行代扣学杂费的同学可凭通知书直接领缴费收据。)<br>

            　　2。户口迁移保卫处(交户口迁移证)<br>

            　　3。办理保险学工处(学生本着自愿原则购买保险，如购买则在入学时一次性交完大学四年的保险费和办理相关手续，所买的保险为意外伤害保险和住院医疗保险。学生保险保费不高，且理赔的范围涉及面广，所以我们建议如果经济条件许可的话，新生应该购买保险。)<br>

            　　4。办理校园一卡通后勤集团(校园一卡通是学校为了方便学生而推出的，集吃饭、洗浴和其他所有学校内部消费功能于一体的电子卡片，每张卡都存储有相应持卡人的信息，就跟刷信用卡消费一样，非常简便快捷，但仅限于校园内消费。学校在入学前已为你办好了一卡通并预存了一定的金额，你只需交预存的金额和办卡费就可领到自己的一卡通。)<br>

            　　5。办理党团关系团委(交党团组织介绍信)<br>

            　　6。绿色通道学工处(近年来，为切实保证贫困家庭学生顺利入学，教育部规定各公办普通高等学校都必须建立“绿色通道”制度，即对被录取入学、经济困难的新生，在报到时持家庭所在地乡镇或街道以上政府所开贫困证明，高校一律先为其办理入学手续，入学后再根据核实后的情况，分别采取措施予以资助。)<br>

        </p>

    </div>


</div>

<script type="text/javascript" >



</script>



</body>
</html>