<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title>后台管理 </title>
  <link rel="icon" type="image/png" href="http://oo12ugek5.bkt.clouddn.com/blog/images/favicon.ico" sizes="32x32">
  <script src="../layui/layui.js"></script>
  <link rel="stylesheet" href="../layui/css/layui.css">
  
  <!-- 引入bootstrap和jQuery -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../static/js/jquery-3.2.1.min.js"></script>
   <script src="../js/bootstrap.min.js"></script>
   <script src="../js/jquery.form.js"></script>
   
   <!-- 引入wangEditor富文本编辑器 ！！！-->
    <script type="text/javascript" src="../release/wangEditor.min.js"></script>
  

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!-- <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="main">首页</a></li>
    </ul> -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../images/login.png" class="layui-nav-img">
          诸葛出错
        </a>
        <dl class="layui-nav-child">
          <dd><a href="##">基本资料</a></dd>
          <dd><a href="##">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="../logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">博文管理</a>
          <dl class="layui-nav-child">
            <dd><a href="articleList">全部博文</a></dd>
            <dd><a href="write">写博文</a></dd>
            <dd><a href="categoryList">分类管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">评论管理</a>
	          <dl class="layui-nav-child">
	            <dd><a href="commentList">查看评论</a></dd>
	          </dl>
        </li>
        <li class="layui-nav-item">
        	<a href="javascript:;">用户管理</a>
	       	<dl class="layui-nav-child">
	            <dd><a href="javascript:;">所有用户</a></dd>
	         </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

        </div>
    </div>
  
</div>



<script>

	layui.use('element', function(){
	  var element = layui.element;

	});

</script>
</body>
</html>